{% extends "loginpage.html.twig" %}

{% block other_link %}

{{ encore_entry_link_tags('login') }}

{% endblock %}

{% block header %}

{% endblock %}


{% block body %}
    




<div class="container-fluid principal">

    <div class="row justify-content-between">
        <div class="col-lg-4 col-md-4 d-lg-block d-md-block d-sm-none d-none">
            <img src="{{ asset('images/white-wine.png') }}" class="img-bottle">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10">

            <div class="connexion">
                    <div class="container-fluid">
                        <div class="row justify-content-between">
                            <div class="col-3"><a href="/change_password">Retour</a></div>
                            <div class="col-3"><a href="/">Gnol@</a></div>
                        </div>

                            {% block login_option %}


                                <div class="row">
                                    <div class="col pt-5">
                                        <div class="m-auto">
                                            <p class="title">Votre code de confirmation a été envoyé à votre adresse email</p>
                                        </div>

                                        <a href="/valid_code" class="btn btn-warning m-auto" style="width: 100%;">Confirmer</a>
                                    </div>
                                </div>

                            {% endblock %}
                    </div>
            </div>

        </div>
    </div>

</div>




{% endblock %}

{% block footer %}

{% endblock %}
