{% extends "loginpage.html.twig" %}

{% block other_link %}

{{ encore_entry_link_tags('login') }}

{% endblock %}

{% block header %}

{% endblock %}


{% block body %}
    



<div class="container-fluid principal">

    <div class="row justify-content-between">
        <div class="col-lg-4 col-md-4 d-lg-block d-md-block d-sm-none d-none">
            <img src="{{ asset('images/white-wine.png') }}" class="img-bottle">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10">

            <div class="connexion">
                    <div class="container-fluid">
                        <div class="row justify-content-between">
                            <div class="col-3"><a href="/login">Retour</a></div>
                            <div class="col-3"><a href="/">Gnol@</a></div>
                        </div>

                            {% block login_option %}

                                <div class="row pt-5">
                                    <div class="col-12">
                                        <p class="title">Mot de passe oublié</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3 mail">
                                            <label for="mail" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="mail" placeholder="Saisir votre mail">
                                        </div>

                                        <a href="/code_send" class="btn btn-warning" style="width: 100%;">Envoyer</a>
                                    </div>
                                </div>

                            {% endblock %}
                    </div>
            </div>

        </div>
    </div>

</div>




{% endblock %}

{% block footer %}

{% endblock %}
